:root {
    --color-background: #222222;
    --color-background-shadow: #4a4a4a;
    --color-background-dark: #1a1a1a;
    --color-text: #efefef;
    --color-text-shadow: #b3b3b3;
    --color-icon: #919191;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #1F232A #4a4a4a;
}

body, .h70RQ {
    background: var(--color-background) !important;
}

/* estilo da pagina inicial */

#app {
    background-color: var(--color-background) !important;
}
.landing-wrapper::before {
    opacity: 0.6;
}
.landing-main, ._3pdvT {
    background-color: var(--color-background-dark) !important;
}
.landing-main * {
    color: var(--color-text) !important;
}
.landing-wrapper div[data-ref] {
    border-radius: 0;
    filter: contrast(150%) !important;
    outline: 4px solid white !important;
}
/* fim estilo da pagina inicial */

/* estilo do chat sem limitações */

.app-wrapper-web .h70RQ {
    height: inherit!important;
    top: inherit!important;
    width: inherit!important;
}
/* fim do estilo do chat sem limitações */

/* estilo do chat sem mensagem selecionada */

._1kdBg > .acGdi > ._2bBPp {
	animation: BX5_9 1s steps(15) infinite;
    background-image: url("https://web.whatsapp.com/img/animated-doodle_600127bdb5f7627ede5cd4ef320f55b0.png") !important;
    margin-top: 32px;
    margin-bottom: 28px;
    background-size: 1600% auto;
    background-position: 0% 0%;
}
.PdaRW * {
    color: var(--color-text) !important;
}
._1kdBg a {
    color: var(--button-secondary) !important;
}
@media screen and (max-width: 1280px) {
  ._1kdBg > .acGdi > ._2bBPp {
    width: 258px;
	height: 258px;
  }
}
/* fim do estilo do chat sem mensagem selecionada */
