:root {
    --color-background: #222222;
    --color-background-shadow: #4a4a4a;
    --color-background-dark: #1a1a1a;
    --color-text: #efefef;
    --color-text-shadow: #b3b3b3;
    --color-icon: #919191;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #1F232A #4a4a4a;
}

body, .h70RQ {
    background: var(--color-background) !important;
}

/* estilo da pagina inicial */

#app {
    background-color: var(--color-background) !important;
}
.landing-wrapper::before {
    opacity: 0.6;
}
.landing-main, ._3B9bf {
    background-color: var(--color-background-dark) !important;
}
.landing-main * {
    color: var(--color-text) !important;
}
.landing-wrapper div[data-ref] {
    border-radius: 0;
    filter: contrast(150%) !important;
    outline: 4px solid white !important;
}
/* fim estilo da pagina inicial */

/* estilo do chat sem limitações */

.app-wrapper-web .h70RQ {
    height: inherit!important;
    top: inherit!important;
    width: inherit!important;
}
/* fim do estilo do chat sem limitações */

/* estilo do chat sem mensagem selecionada */

._2zynu {
    background-color: var(--color-background) !important;
}
._2zynu > ._2IVU3 > ._2LKlu {
	animation: _1sfYd 1s steps(15) infinite;
    background-image: url("https://web.whatsapp.com/img/animated-doodle_600127bdb5f7627ede5cd4ef320f55b0.png") !important;
    margin-top: 32px;
    margin-bottom: 28px;
    background-size: 1600% auto;
    background-position: 0% 0%;
}
._3MiDj * {
    color: var(--color-text) !important;
}
._2zynu a {
    color: var(--button-secondary) !important;
}
@media screen and (max-width: 1280px) {
  ._2zynu > ._2IVU3 > ._2LKlu {
    width: 258px;
	height: 258px;
  }
}
/* fim do estilo do chat sem mensagem selecionada */

/* estilo do perfil */

._2fq0t, ._1FroB, ._1CRb5 {
    background-color: var(--color-background) !important;
}
._3F6QL ._2S1VP {
    color: var(--color-text) !important;
}
.Cpiae {
    color: var(--color-text-shadow) !important;
}
/* fim do estilo do perfil */

/* estilo das configurações */

._2Lev2 {
    background-color: var(--color-background-dark) !important;
}
._1wjpf, ._3LL06, ._3FR9x, .uyEaY > select, .tyVYE .CDuBw:nth-child(1), ._27YTC, ._3FXB1, .uyEaY::before {
    color: var(--color-text) !important;
}
._1CkkN + ._1CkkN ._10xEB, ._1CkkN:hover + ._1CkkN::before {
    border-top: inherit !important;
}
._1CkkN:hover {
    background-color: var(--color-background-shadow) !important;
}
._1CkkN, .tyVYE .CDuBw:nth-child(1), .uyEaY > select {
    background-color: var(--color-background) !important;
}
.CDuBw {
    border: 4px solid transparent !important;
}
/* fim do estilo das configurações */

/* estilo do popup adicionar bloqueado */

._2klhM, .gQzdc._3sdhb, ._1WliW {
    background-color: var(--color-background-dark) !important;
}
._2MSJr::placeholder {
    color: var(--color-text) !important;
}
._2EXPL:hover::after, ._2EXPL._1f1zm::after, ._3j7s9 {
    border-top: inherit !important;
}
._3gUiM, ._1AKfk {
    background-color: var(--color-background) !important;
}
/* fim do estilo do popup adicionar bloqueado */

/* estilo do popup fale conosco */

._1CnF3, ._1BLxK {
    background-color: var(--color-background-dark) !important;
}
._2Qffr {
    color: var(--color-text) !important;
}
._2rXhY {
    color: var(--color-text-shadow) !important;
}
._1qi0v:hover {
    background-color: var(--color-background) !important;
}
/* fim do estilo do popup fale conosco */

/* estilo da lista de mensagens */

.B5rWa, ._2EXPL, .rRAIq, ._3auIg {
    background-color: var(--color-background) !important;
}
._2MSJr, ._2EXPL:hover, ._1RQfk {
    background-color: var(--color-background-dark) !important;
}
._34D8D, ._3Bxar {
    color: var(--color-text) !important;
}
.OUeyt {
    color: black !important;
}
._36Zz0._1exov {
    background-color: var(--color-background-shadow) !important;
}
.gQzdc::after {
    border-bottom: 1px solid var(--color-background-dark) !important;
}
.gQzdc::after {
    background-color: inherit !important;
}
/* fim do estilo da lista de mensagens */

/* estilo dos stories */

._1abwg {
    height: inherit!important;
    top: inherit!important;
    width: inherit!important;
}
/* fim do estilo dos stories */

/* estilo de uma nova conversa */

._25Ooe, ._1AwDx {
    color: var(--color-text) !important;
}
._3YwRO {
    border-top: inherit !important;
}
._2zkF3 {
    background-color: var(--color-background) !important;
}
/* fim do estilo de uma nova conversa */

/* estilo ao criar um grupo */

._66JgU, ._1lIXT {
    background-color: var(--color-background) !important;
}
._3_3Rs * {
    color: var(--color-text) !important;
}
/* fim do estilo ao criar um grupo */

/* estilo de mensagens favoritadas */

.MS-DH.ZuHmv, .MS-DH._1baOM, .MS-DH._2-mCk {
    background-color: var(--color-background-shadow) !important;
}
.MS-DH._2-mCk::after, .MS-DH._1baOM::after, .MS-DH.ZuHmv::after, .MS-DH::before {
    content: inherit !important;
}
._1bcjS, ._2-rkJ::before {
    color: var(--color-text) !important;
}
/* fim do estilo de mensagens arquivadas */

/* estilo do chat */

._2y17h, ._3pkkz, ._1GX8_, ._1mq8g {
    background-color: var(--color-background) !important;
}
._2y17h, ._1mq8g {
    border: inherit !important;
}
._2y17h::after {
    content: inherit !important;
}
.Zq3Mc, ._1Plpp, .message-out .MVjBr, ._1sGGp._2nFG1, .message-out ._3JaNE ._2R8MP, .message-out ._3JaNE ._2Ll5c, .message-out ._1iJeo, ._298R6, .message-in .MVjBr, .message-in ._1iJeo, .message-in ._3JaNE ._2R8MP, .message-in ._3JaNE ._2Ll5c, ._3_9XW, ._2XiC1, .L89LI, ._2pvbg.D4OT6, ._3mRez.D4OT6 {
    background-color: var(--color-background-dark) !important;
}
._1Plpp, .three ._3XpR2 {
    border-color: var(--color-background-dark) !important;
}
._3EFt_, .Y9G3K, ._2XiC1, .L89LI, ._18dOq {
    color: var(--color-text) !important;
}
._3Ye_R._1wjpf._1OmDL._3FXB1, ._3Ye_R._1wjpf._3FXB1 {
    color: var(--color-text-shadow) !important;
}
.tail-container {
    display: none !important;
}
._1i1U7._2DNgV, ._1qhoQ.jZ4tp .YiYMT, ._1qhoQ._2DNgV .YiYMT, ._1i1U7.jZ4tp {
   background: inherit !important; 
}
/* fim do estilo do chat */

/* estilo ao encaminhar mensagem */

._1nfbl, ._3D9Wd {
    background-color: var(--color-background) !important;
}
._3I_df > .me9CP {
    border: 2px solid var(--color-background-shadow) !important;
}
.iHLo1, ._3hV1n {
    background-color: var(--color-background-dark) !important;
}
/* estilo ao encaminhar mensagem */

/* estilo ao responder mensagem */

.rstyJ, ._3SX5f {
    background-color: var(--color-background) !important;
}
._1JbDr {
    border-left: inherit !important;
}
/* estilo ao responder mensagem */

/* estilo de mensagens de alerta */

._3lLzD, ._30goe > span {
    color: var(--color-text-shadow) !important;
}
.ElQXQ {
    color: var(--color-text) !important;
}
/* fim do estilo de mensagens de alerta */

/* estilo da tela de carregamento */

#startup, #initial_startup {
    background-color: var(--color-background) !important;
}
/* fim do estilo da tela de carregamento */

/* estilo dos dados da mensagem */

._3FAwT {
    background: var(--color-background) !important;
}
._1CRb5._34vig._2phEY > ._2EXPL:hover, ._1CSx9 {
    background-color: var(--color-background) !important;
}
._1xGbt {
    color: var(--color-text) !important;
}
/* fim do estilo dos dados da mensagem */

/* estilo ao buscar mensagem */

._1iopp, .YAPQk {
    background-color: var(--color-background) !important;
}
/* fim do estilo ao buscar mensagem */

/* estilo de midia dos grupos */

._1p_lK ._2RBFb, ._3b2Cf {
    background-color: var(--color-background-dark) !important;
}
._2DwXW, ._3eMqf::before {
    color: var(--color-text) !important;
}
.me9CP {
    border: 2px solid var(--color-background-dark) !important;
}
/* fim do estilo de midia dos grupos */

/* estilo ao visualizar video ou foto */

.JWJN5, ._3pRd1, ._20PqB > ._2EXPL:hover {
    background-color: var(--color-background) !important;
}
.KNt1E {
    background-color: var(--color-background-dark) !important;
}
.C73Q6 {
    border-top: inherit !important;
}
._20PqB > ._2EXPL:hover {
    cursor: inherit !important;
}
/* estilo ao visualizar video ou foto */

/* estilo dos dados do contato ou grupo */

.bMKum, ._2IkcY {
    color: var(--color-text-shadow) !important;
}
._14oqx + ._14oqx .DcItJ {
    border-top: inherit !important;
}
/* fim do estilo dos dados do contato ou grupo */

/* estilo ao adicionar participante */

._3fOoY {
    background-color: var(--color-background) !important;
}
/* fim do estilo ao adicionar participante*/

/* estilo da foto de perfil */

._2YdsD {
    background-color: var(--color-background) !important;
}
._1zcz2, ._2YdsD > ._2Q-Cb > ._2EXPL:hover {
	background: var(--color-background) !important;
}
/* fim do estilo da foto de perfil */

/* estilo ao adicionar participante */

._3dGYA {
    background-color: var(--color-background-dark) !important;
}
/* fim do estilo ao adicionar participante*/

/* estilo nas abas gifs, adesivos */

._2HBs4, ._2rR_l, ._3tlsa, ._2z7kg {
	background-color: var(--color-background) !important;
}
._1qUma, .zl5TR, ._2vjPO {
    background-color: var(--color-background-dark) !important;
}
.l90LN.GclUX._2DzXb, ._3xMAk {
	color: var(--color-text) !important;
}
.GclUX, ._2U5s1::placeholder {
	color: var(--color-text-shadow) !important;
}
/* fim do estilo na aba gifs */

/* estilo ao convidar por link */

._1lcS_ {
    color: var(--color-text-shadow) !important;
}
/* fim do estilo ao convidar por link */
._30525 { /* icones de fechar foto de perfil */
    color: var(--color-icon) !important;
}
/* estilo dos icones */

._1fkCN { /* icones de mensagem apagada */
	color: var(--color-icon) !important;
}
._2aUNq { /* icones de cadeado */
    color: var(--color-icon) !important;
}
._209Po { /* icones de msg-checked */
    color: var(--color-icon) !important;
}
._30525 { /* icones ao visualizar video ou foto */
    color: var(--color-icon) !important;
}
._3zwKD { /* icone do play */
    color: var(--color-icon) !important;
}
.ZR5SB { /* icone de down das mensagens */
    color: var(--color-icon) !important;
}
._3FwEk { /* icones dos status da mensagem como video */
    color: var(--color-icon) !important;
}
._15G96 { /* icones das mensagens como muted */
    color: var(--color-icon) !important;
}
._17viz { /* icone de download */
    color: var(--color-icon) !important;
}
._3M2St { /* icone de buscar */
    color: var(--color-icon) !important;
}
._2pyvj { /* icone do down */
    color: var(--color-text) !important;
}
._3SX5f { /* icone do x */
    color: var(--color-icon) !important;
}
._2iy86 { /* icone do star */
    color: var(--color-icon) !important;
}
._1l9lt { /* icones ao encaminhar uma mensagem como star btn */
    color: var(--color-icon) !important;
}
._1VfKB { /* icone de mensagem recebida */
    color: var(--color-icon) !important;
}
._1VfKB.a5DO0, ._209Po._1xtH9 { /* icone de mensagem lida */
    color: rgb(79, 195, 247) !important;
}
.status-ptt-blue._2bY6e { /* icone de mensagem de voz lida */
    color: rgb(79, 195, 247) !important;
}
span[data-icon="chevron-right-text"] svg path, span[data-icon="alert-notification"] svg path, span[data-icon="alert-computer"] svg path, span[data-icon="alert-phone"] svg path:first-child, span[data-icon="audio-file"] svg path:first-child, span[data-icon="image"] > svg > g[clip-path] > path, span[data-icon="camera"] > svg > g[clip-path] > path, span[data-icon="document"] > svg > g[clip-path] > path, span[data-icon="contact"] > svg > g[clip-path] > path, span[data-icon="default-group"] > svg > path:first-child, span[data-icon="default-user"] > svg > path:first-child {
    fill: var(--color-background-dark) !important; /* icone do seletor de arquivos com fundo escuro  */
}

span[data-icon="ptt-in-green"] svg path:first-child, span[data-icon="ptt-in-blue"] svg path:first-child, span[data-icon="ptt-out-gray"] svg path:first-child {
    fill: #222 !important; /* icone do microfone com borda escura */
}
/* fim do estilo dos icones */