:root {
    --color-background: #222222;
    --color-background-shadow: #4a4a4a;
    --color-background-dark: #1a1a1a;
    --color-text: #efefef;
    --color-text-shadow: #b3b3b3;
    --color-icon: #919191;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #1F232A #4a4a4a;
}

/* estilo do ultrawide */

.app-wrapper-web > div{
    height: inherit!important;
    top: inherit!important;
    width: inherit!important;
}

/* stories */

._1B91o {
    height: inherit!important;
    top: inherit!important;
    width: inherit!important;
}
/* stories */

/* fim do estilo do ultrawide */

/* estilo da pagina inicial */

.dark .landing-title {
    color: var(--color-text) !important;
}
.dark .eGEEX, .dark ._3ewRB {
    color: var(--color-text-shadow) !important;
}
/* fim do estilo da pagina inicial */

/* estilo do chat sem mensagem selecionada */
._1kdBg a {
    color: var(--button-secondary) !important;
}
@media screen and (max-width: 1280px) {
  ._1kdBg > .acGdi > ._2bBPp {
    width: 258px;
	height: 258px;
  }
}
/* fim do estilo do chat sem mensagem selecionada */

/* estilo da tela de carregamento */

.dark ._3pTi5, .dark ._9a59P, .dark ._3FgB2 {
    color: var(--color-text) !important;
}
.dark .landing-window, .dark ._3pdvT {
    background-color: var(--color-background-dark) !important;
}
/* fim do estilo da tela de carregamento */

/* estilo dos icones */

/* icone do seletor de arquivos com fundo escuro  */
span[data-icon="attach-image"] > svg > g[clip-path] > path, span[data-icon="attach-camera"] > svg > g[clip-path] > path, span[data-icon="attach-document"] > svg > g[clip-path] > path, span[data-icon="attach-contact"] > svg > g[clip-path] > path, span[data-icon="attach-rooms"] > svg > g[clip-path] > path {
    fill: var(--color-background-dark) !important; 
}

/* icone de users com fundo escuro  */
span[data-icon="default-group"] > svg > path:first-child, span[data-icon="default-user"] > svg > path:first-child {
    fill: var(--color-background-dark) !important;
}

/* icone de users com fundo escuro  */
span[data-icon="alert-notification"] svg path, span[data-icon="alert-computer"] svg path, span[data-icon="alert-phone"] svg path:first-child {
    fill: var(--color-background-dark) !important;
}
/* fim do estilo dos icones */

/* pequenas melhorias */

._1C6Zl, ._1OZ02 + ._1OZ02 ._3YGnG, .Su-Gh + .Su-Gh .xYtbD {
    border-top: inherit !important;
}

._32vnm {
	box-shadow: initial !important;
}

._1X4Oi, .aGjYp::before, ._9WQEN {
	background-color: inherit !important;
}
/* fim da pequenas melhorias */

/* redesign das cores do dark theme */

.dark {
	--background-default: #222222;
	--background-default-hover: #4a4a4a;
	--background-default-active: #4a4a4a;
	--intro-background: #222222;
	--border-default: #1a1a1a;
	--border-stronger: #1a1a1a;
	--conversation-panel-border: #1a1a1a;
	--conversation-panel-background: #1a1a1a;
	--rich-text-panel-background: #222222;
	--notification-e2e-background: #1a1a1a;
	--notification-biz-background: #1a1a1a;
	--compose-input-background: #1a1a1a;
	--compose-input-border: #1a1a1a;
	--outgoing-background: #222222;
	--incoming-background: #222222;
	--incoming-background-deeper: #1a1a1a;
	--quick-action-button-background: #1a1a1a;
	--media-viewer-background: #222222;
	--media-viewer-button-background: #1a1a1a;
	--drawer-gallery-background: #1a1a1a;
	--system-message-background: #1a1a1a;
	--incoming-background-rgb: #222222;
	--outgoing-background-rgb: #222222;
	--outgoing-background-deeper: #222222;
	--outgoing-background-deeper-rgb: #222222;
	--incoming-background-deeper: #222222;
	--incoming-background-deeper-rgb: #222222;
	--overlay-rgb: #222222;
	--drawer-section-background: #222222;
	--drawer-background-deep: #222222;
	--panel-background: #222222;
	--panel-background-rgb: #1a1a1a;
	--panel-background-colored-deeper: #222222;
	--panel-background-deeper: #1a1a1a;
	--unread-background: #1a1a1a;
	--compose-panel-background: #222222;
	--panel-background-lighter: #222222;
	--drawer-gallery-background-active: #4a4a4a;
	--drawer-gallery-background-hover: #4a4a4a;
	--panel-input-background: #1a1a1a;
	--border-panel: #1a1a1a;
	--photopicker-overlay-background: rgba(26,26,26,0.8);
	--empty-state-background: #1a1a1a;
	--drawer-background: #222222;
	--panel-header-background: #222222;
	--panel-background-colored: #222222;
	--search-container-background: #222222;
	--search-input-background: #1a1a1a;
	--startup-background: #222222;
	--modal-backdrop-solid: #222222;
	--modal-background: #1a1a1a;
	--dropdown-background: #1a1a1a;
	--dropdown-background-hover: #4a4a4a;
}
/* fim do redesign das cores do dark theme  */